.header-container {
    background-color: rgb(6, 19, 31);
}

#spotify-icon {
    height: 2.8rem;
    margin-left: 8rem;
}

main {
    background-color: rgb(29, 45, 60);
}

.main-container {
    background-color: rgb(29, 45, 60);
    width: 70%;
    margin: 0 auto;
}

.albums {
    width: calc(100% / 3 - 4rem);
    background-color: rgb(17, 32, 48);
    margin: 2rem;
}

.albums img {
    height: 80%;
    width: 80%;
    margin-top: 1.5rem;
}

p {
    margin-bottom: 0.3rem;
}